{{! Use the main layout }}
{{!< main }}

<div class="profile-container">
    <div class="profile-avatar">
        <!-- Correct path for the default avatar image -->
        <img src="/avatar/{{user.username}}" alt="{{user.username}}'s avatar">
    </div>
    
    <section class="profile-info">
        <!-- user profile info -->
        <h2>{{user.username}}'s Profile</h2>
        <p>Member since: {{user.memberSince}}</p>
        <p>Total posts: {{posts.length}}</p>
    </section>
</div>

<section class="user-posts">
    <!-- you can call posts tweets, or truths, or whatever, these are neologisms. Choose your own new in server.js -->
    <h2>Your {{{postNeoType}}}s</h2>
    
    <!-- you'll need to make this conditional and #each expression work -->
    {{#if posts.length}}
        <ul>
            {{#each posts}}
                {{!-- {{> post this}} --}}
                {{> post this}}
                {{!-- <li>
                    <h4>{{this.title}}</h4>
                    <p>{{this.content}}</p>
                    <span>Likes: {{this.likes}}</span>
                </li> --}}
            {{/each}}
        </ul>
    {{else}}
        <!-- fix this up with some helper functions and other handlebars expressions, or add you own character -->
        <p>You have not posted yet, poster.</p>
    {{/if}}
</section>
